openapi: 3.2.0
info:
  title: Impact Radius Ads API
  version: '1.0'
  description: 'Operations tagged Ads across 2 of this provider''s published API definitions: impact-radius-brand-ads-v14.yml, impact-radius-partner-ads-v15.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.impact.com
tags:
- name: Ads
paths:
  /Advertisers/{AccountSID}/Ads:
    get:
      summary: List All Ads
      description: Lists existing ads, returned by creation date with the most recently created ad appearing first. The list can be filtered by various parameters.
      operationId: listAds
      tags:
      - Ads
      parameters:
      - name: AccountSID
        in: path
        required: true
        schema:
          type: string
      - name: CampaignId
        in: query
        schema:
          type: string
        description: Filter ads by a specific campaign (program) ID.
      - name: Type
        in: query
        schema:
          type: string
          enum:
          - BANNER
          - TEXT_LINK
          - COUPON
        description: Filter ads by their type.
      - name: DealId
        in: query
        schema:
          type: string
        description: Filter ads associated with a specific deal ID.
      - name: MobileReady
        in: query
        schema:
          type: boolean
        description: Filter ads based on whether they are optimized for mobile.
      - name: DateCreatedStart
        in: query
        schema:
          type: string
          format: date-time
        description: Start of the date range for when ads were created.
      - name: DateCreatedEnd
        in: query
        schema:
          type: string
          format: date-time
        description: End of the date range for when ads were created.
      - name: DateLastUpdatedStart
        in: query
        schema:
          type: string
          format: date-time
        description: Start of the date range for when ads were last updated.
      - name: DateLastUpdatedEnd
        in: query
        schema:
          type: string
          format: date-time
        description: End of the date range for when ads were last updated.
      responses:
        '200':
          description: A paginated list of ad objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  '@page':
                    type: string
                  Ads:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ad'
      x-codeSamples:
      - lang: cURL
        source: "curl -L \\\n  --url 'https://api.impact.com/Advertisers/{AccountSID}/Ads' \\\n  --user '{AccountSID}:{AuthToken}' \\\n  --header 'Accept: */*'"
      security:
      - basicAuth: []
    post:
      summary: Create an Ad
      description: Creates a new Banner, Coupon, or Text Link ad. Use `multipart/form-data` if uploading a creative file, otherwise use `application/x-www-form-urlencoded`.
      operationId: createAd
      tags:
      - Ads
      parameters:
      - name: AccountSID
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: The details of the ad to create.
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdCreateUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AdCreateUpdate'
      responses:
        '200':
          description: The ad was created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    example: OK
                  Uri:
                    type: string
                    format: uri-reference
                    example: /Advertisers/{AccountSID}/Ads/600000
      x-codeSamples:
      - lang: cURL
        source: "curl -L \\\n  --request POST \\\n  --url 'https://api.impact.com/Advertisers/{AccountSID}/Ads' \\\n  --user '{AccountSID}:{AuthToken}' \\\n  --header 'Content-Type: application/x-www-form-urlencoded' \\\n  --header 'Accept: */*'"
      security:
      - basicAuth: []
    servers:
    - url: https://api.impact.com
  /Advertisers/{AccountSID}/Ads/{AdId}:
    get:
      summary: Get Ad Details
      description: Retrieves the details of an existing ad by its unique impact.com Ad ID.
      operationId: getAdById
      tags:
      - Ads
      parameters:
      - name: AccountSID
        in: path
        required: true
        schema:
          type: string
      - name: AdId
        in: path
        required: true
        description: The unique identifier for the ad.
        schema:
          type: string
      responses:
        '200':
          description: An ad object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ad'
      x-codeSamples:
      - lang: cURL
        source: "curl -L \\\n  --url 'https://api.impact.com/Advertisers/{AccountSID}/Ads/{AdId}' \\\n  --user '{AccountSID}:{AuthToken}' \\\n  --header 'Accept: */*'"
      security:
      - basicAuth: []
    put:
      summary: Update an Ad
      description: Updates an existing ad, including its creative file if needed. Use `multipart/form-data` if uploading a creative file.
      operationId: updateAd
      tags:
      - Ads
      parameters:
      - name: AccountSID
        in: path
        required: true
        schema:
          type: string
      - name: AdId
        in: path
        required: true
        description: The unique identifier for the ad to update.
        schema:
          type: string
      requestBody:
        description: The ad properties to update.
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdCreateUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AdCreateUpdate'
      responses:
        '200':
          description: The ad was updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    example: OK
                  Uri:
                    type: string
                    format: uri-reference
                    example: /Advertisers/{AccountSID}/Ads/892081
      x-codeSamples:
      - lang: cURL
        source: "curl -L \\\n  --request PUT \\\n  --url 'https://api.impact.com/Advertisers/{AccountSID}/Ads/{AdId}' \\\n  --user '{AccountSID}:{AuthToken}' \\\n  --header 'Content-Type: application/x-www-form-urlencoded' \\\n  --header 'Accept: */*'"
      security:
      - basicAuth: []
    servers:
    - url: https://api.impact.com
  /Mediapartners/{AccountSID}/Ads:
    get:
      operationId: listAds
      tags:
      - Ads
      summary: List Ads
      description: Returns a list of all ads available to you.
      parameters:
      - name: AccountSID
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the partner account.
      - name: Type
        in: query
        required: false
        schema:
          type: string
          enum:
          - BANNER
          - TEXT_LINK
          - COUPON
        description: Filters ads by type.
      - name: CampaignId
        in: query
        required: false
        schema:
          type: integer
        description: Filters ads by the campaign (brand program) they belong to.
      - name: DealId
        in: query
        required: false
        schema:
          type: integer
        description: Filters ads by the deal associated with them.
      - name: MobileReady
        in: query
        required: false
        schema:
          type: boolean
        description: Filters ads by whether they are optimized for mobile devices.
      - name: UpdatedDateStart
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Filters for ads updated on or after this date.
      - name: UpdatedDateEnd
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Filters for ads updated on or before this date.
      responses:
        '200':
          description: A list of ad objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Ads:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ad_2'
    servers:
    - url: https://api.impact.com
  /Mediapartners/{AccountSID}/Ads/{Id}:
    get:
      operationId: retrieveAd
      tags:
      - Ads
      summary: Retrieve an Ad
      description: Retrieves the details of an existing ad using its unique ID.
      parameters:
      - name: AccountSID
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the partner account.
      - name: Id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the ad.
      responses:
        '200':
          description: The ad object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ad_2'
    servers:
    - url: https://api.impact.com
  /Mediapartners/{AccountSID}/Ads/{Id}/Code:
    get:
      operationId: retrieveAdCode
      tags:
      - Ads
      summary: Retrieve an Ad's Code
      description: Retrieves the HTML code of an existing ad, with optional tracking parameters appended to the tracking link.
      parameters:
      - name: AccountSID
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the partner account.
      - name: Id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the ad.
      - name: subId1
        in: query
        required: false
        schema:
          type: string
        description: Appends the submitted value as subId1= to the tracking link. Must be URL encoded.
      - name: subId2
        in: query
        required: false
        schema:
          type: string
        description: Appends the submitted value as subId2= to the tracking link. Must be URL encoded.
      - name: subId3
        in: query
        required: false
        schema:
          type: string
        description: Appends the submitted value as subId3= to the tracking link. Must be URL encoded.
      - name: sharedId
        in: query
        required: false
        schema:
          type: string
        description: Appends the submitted value as sharedId= to the tracking link. Must be URL encoded.
      - name: landingPage
        in: query
        required: false
        schema:
          type: string
          format: uri
        description: Overrides the ad's landing page URL if the ad allows deep linking. Must be URL encoded.
      responses:
        '200':
          description: The ad's HTML code.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Code:
                    type: string
                    description: The ad's HTML code with the tracking link embedded.
                    example: <a href="https://example.com/c/1299679/515236/8800" target="_top" id="515236"><img src="//a.impactradius-go.com/display-ad/8800-515236" border="0" alt="" width="442" height="114"/></a>
                  Uri:
                    type: string
                    description: Unique reference to this resource in the impact.com API.
                    example: /Mediapartners/<AccountSID>/Ads/123456/Code
    servers:
    - url: https://api.impact.com
  /Mediapartners/{AccountSID}/Ads/{Id}/IFrameCode:
    get:
      operationId: retrieveAdIFrameCode
      tags:
      - Ads
      summary: Retrieve an Ad's IFrame Code
      description: Retrieves the inline frame (iframe) code for an existing ad, with optional tracking parameters appended to the tracking link.
      parameters:
      - name: AccountSID
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the partner account.
      - name: Id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the ad.
      - name: subId1
        in: query
        required: false
        schema:
          type: string
        description: Appends the submitted value as subId1= to the tracking link. Must be URL encoded.
      - name: subId2
        in: query
        required: false
        schema:
          type: string
        description: Appends the submitted value as subId2= to the tracking link. Must be URL encoded.
      - name: subId3
        in: query
        required: false
        schema:
          type: string
        description: Appends the submitted value as subId3= to the tracking link. Must be URL encoded.
      - name: sharedId
        in: query
        required: false
        schema:
          type: string
        description: Appends the submitted value as sharedId= to the tracking link. Must be URL encoded.
      - name: landingPage
        in: query
        required: false
        schema:
          type: string
          format: uri
        description: Overrides the ad's landing page URL if the ad allows deep linking. Must be URL encoded.
      responses:
        '200':
          description: The ad's iframe code.
          content:
            application/json:
              schema:
                type: object
                properties:
                  IFrameCode:
                    type: string
                    description: The ad's iframe code with the tracking link embedded.
                    example: <iframe id="$iradid" src="//a.impactradius-go.com/gen-ad-code/1299679/515236/8800/" width="442" height="114" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe>
                  Uri:
                    type: string
                    description: Unique reference to this resource in the impact.com API.
                    example: /Mediapartners/<AccountSID>/Ads/123456/IFrameCode
    servers:
    - url: https://api.impact.com
  /Mediapartners/{AccountSID}/Ads/{Id}/TrackingLink:
    get:
      operationId: retrieveAdTrackingLink
      tags:
      - Ads
      summary: Retrieve an Ad's Tracking Link
      description: Retrieves the tracking link for an existing ad, with optional tracking parameters appended.
      parameters:
      - name: AccountSID
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the partner account.
      - name: Id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the ad.
      - name: subId1
        in: query
        required: false
        schema:
          type: string
        description: Appends the submitted value as subId1= to the tracking link.
      - name: subId2
        in: query
        required: false
        schema:
          type: string
        description: Appends the submitted value as subId2= to the tracking link.
      - name: subId3
        in: query
        required: false
        schema:
          type: string
        description: Appends the submitted value as subId3= to the tracking link.
      - name: sharedId
        in: query
        required: false
        schema:
          type: string
        description: Appends the submitted value as sharedId= to the tracking link.
      - name: landingPage
        in: query
        required: false
        schema:
          type: string
          format: uri
        description: Overrides the ad's landing page URL if the ad allows deep linking.
      responses:
        '200':
          description: The ad's tracking link.
          content:
            application/json:
              schema:
                type: object
                properties:
                  TrackingLink:
                    type: string
                    format: uri
                    description: The ad's tracking link, unique to your partner account.
                    example: https://example.com/c/1299679/515236/8800
                  Uri:
                    type: string
                    description: Unique reference to this resource in the impact.com API.
                    example: /Mediapartners/<AccountSID>/Ads/123456/TrackingLink
    servers:
    - url: https://api.impact.com
components:
  schemas:
    AdCreateUpdate:
      type: object
      description: Schema for creating and updating an Ad. Some fields are conditionally required based on AdType.
      required:
      - Name
      - CampaignId
      - AdType
      - Language
      properties:
        Name:
          type: string
          example: Summer Sale 2020 250x250
        CampaignId:
          type: string
          example: '1000'
        AdType:
          type: string
          enum:
          - BANNER
          - TEXT_LINK
          - COUPON
          example: BANNER
        Language:
          type: string
          example: ENGLISH
          description: 'The language of the ad creative. Possible values: `AFRIKAANS`, `ARABIC`, `BULGARIAN`, `CHINESE`, `CHINESE_TRADITIONAL`, `CZECH`, `DANISH`, `DUTCH`, `ENGLISH`, `ENGLISH_GB`, `ENGLISH_AU`, `ENGLISH_CA`, `ENGLISH_NZ`, `ENGLISH_ZA`, `ESTONIAN`, `FILIPINO`, `FINNISH`, `FRENCH`, `FRENCH_CA`, `GERMAN`, `HEBREW`, `HINDI`, `INDONESIAN`, `ITALIAN`, `JAPANESE`, `KOREAN`, `LATVIAN`, `LITHUANIAN`, `MALAY`, `MALTESE`, `NORWEGIAN`, `PORTUGUESE`, `PORTUGUESE_BR`, `POLISH`, `RUSSIAN`, `SLOVENIAN`, `SPANISH`, `SPANISH_MX`, `SWEDISH`, `THAI`, `TURKISH`, `VIETNAMESE`.'
        Description:
          type: string
          example: Our best deals this summer creative.
        LandingPage:
          type: string
          format: uri
          example: http://www.test.com/6234652
        CustomAdServingUrl:
          type: string
          format: uri
          description: Required for BANNER if not using AdCodeTemplate or BannerCreativeFile.
        AdCodeTemplate:
          type: string
          description: Required for BANNER if not using CustomAdServingUrl or BannerCreativeFile.
        BannerCreativeFile:
          type: string
          format: binary
          description: Creative file for a BANNER ad. Use multipart/form-data.
        CouponLinkName:
          type: string
          description: Required for COUPON ad type.
        CouponAllowCustomPromoCode:
          type: boolean
          description: Whether the ad allows partners to use a custom promo code (instead of the default coupon code).
          example: false
        CustomisationCharge:
          type: number
          format: decimal
          description: The charge applied when partners customise this ad.
          example: 0.0
        LinkText:
          type: string
          description: Required for TEXT_LINK ad type.
        IabAdUnit:
          type: string
          example: CUSTOM
        ThirdPartyServableAdCreativeHeight:
          type: string
          example: '250'
        ThirdPartyServableAdCreativeWidth:
          type: string
          example: '250'
        BannerAlternativeTag:
          type: string
          description: Only for BANNER ad type.
          example: summersale
        GetHtmlCodeType:
          type: string
          enum:
          - HTML_AND_IFRAME
          - IFRAME_ONLY
          example: HTML_AND_IFRAME
        Labels:
          type: string
          example: sale,US
        AllowDeepLinking:
          type: string
          example: 'true'
        LimitedTimeStartDate:
          type: string
          format: date-time
          example: '2026-09-16T17:01:28-07:00'
        LimitedTimeEndDate:
          type: string
          format: date-time
          example: '2026-12-31T23:59:59-07:00'
        TargetMediaPartners:
          type: array
          items:
            type: string
          description: Array of partner IDs to restrict the ad to.
        TargetMediaPartnerGroups:
          type: array
          items:
            type: string
          description: Array of partner group IDs to restrict the ad to.
        MobileFallbacks:
          type: object
          properties:
            Android:
              type: string
            IOS:
              type: string
        Season:
          type: string
          example: SUMMER
          description: 'If the ad has a seasonal promotional theme, this is the season the ad targets. Possible values: `ANZAC_DAY`, `AUGUST_CIVIC_HOLIDAY`, `AUSTRALIA_DAY`, `BACK_TO_SCHOOL`, `BLACK_FRIDAY`, `BOXING_DAY`, `CANADA_DAY`, `CYBER_MONDAY`, `END_OF_FINANCIAL_YEAR`, `FAMILY_DAY`, `FATHERS_DAY`, `GOOD_FRIDAY`, `HALLOWEEN`, `HANUKKAH`, `INDEPENDANCE_DAY`, `LABOR_DAY`, `MEMORIAL_DAY`, `MOTHERS_DAY`, `NEW_YEAR`, `PRESIDENTS_DAY`, `QUEENS_BIRTHDAY`, `REMEMBRANCE_DAY`, `SPRING`, `ST_PATRICKS_DAY`, `SUMMER`, `THANKSGIVING`, `VALENTINES_DAY`, `VICTORIA_DAY`, `WAITANGI_DAY`, `WINTER`, `OTHER`.'
        MobileReady:
          type: string
          description: Whether the ad is optimized for mobile devices.
          example: 'true'
        PhoneTracking:
          type: string
          description: Whether phone call tracking is enabled for the ad.
          example: 'false'
        PromoCodeTracking:
          type: string
          description: Whether promo code tracking is enabled for the ad.
          example: 'false'
        TopSeller:
          type: string
          description: Whether the ad is marked as a top seller.
          example: 'false'
        DealId:
          type: string
          description: The ID of the deal to associate with this ad.
    Ad:
      type: object
      properties:
        Id:
          type: string
          description: The unique impact.com identifier for the ad.
          example: '892081'
        Name:
          type: string
          example: Summer Sale 2020 250x250
        Description:
          type: string
          example: Our best deals this summer creative.
        CampaignId:
          type: string
          example: '1000'
        CampaignName:
          type: string
          example: Acme Campaign
        AdType:
          type: string
          description: The type of ad creative.
          enum:
          - BANNER
          - TEXT_LINK
          - COUPON
          example: BANNER
        LandingPage:
          type: string
          format: uri
          example: http://www.test.com/6234652
        MobileFallbacks:
          type: object
          properties:
            Android:
              type: string
              description: The SystemAppId of the Android mobile app.
            IOS:
              type: string
              description: The SystemAppId of the iOS mobile app.
        DateCreated:
          type: string
          format: date-time
          description: The date and time when the ad was created.
          example: '2024-02-29T22:03:35-08:00'
        DateLastUpdated:
          type: string
          format: date-time
          description: The date and time when the ad was last updated.
          example: '2024-02-29T22:03:35-08:00'
        CustomAdServingUrl:
          type: string
          format: uri
          example: ''
        IabAdUnit:
          type: string
          description: The IAB ad unit size classification.
          example: CUSTOM
        ThirdPartyServableAdCreativeHeight:
          type: string
          example: '250'
        ThirdPartyServableAdCreativeWidth:
          type: string
          example: '250'
        BannerAlternativeTag:
          type: string
          example: summersale
        LinkText:
          type: string
          example: ''
        CouponLinkName:
          type: string
        GetHtmlCodeType:
          type: string
          description: The format of the HTML code generated for the ad.
          enum:
          - HTML_AND_IFRAME
          - IFRAME_ONLY
          example: HTML_AND_IFRAME
        Labels:
          type: string
          description: Comma-separated key terms.
          example: sale,US
        AllowDeepLinking:
          type: string
          description: Whether the ad supports deep linking to mobile app content.
          example: 'true'
        Language:
          type: string
          example: ENGLISH
          description: 'The language of the ad creative. Possible values: `AFRIKAANS`, `ARABIC`, `BULGARIAN`, `CHINESE`, `CHINESE_TRADITIONAL`, `CZECH`, `DANISH`, `DUTCH`, `ENGLISH`, `ENGLISH_GB`, `ENGLISH_AU`, `ENGLISH_CA`, `ENGLISH_NZ`, `ENGLISH_ZA`, `ESTONIAN`, `FILIPINO`, `FINNISH`, `FRENCH`, `FRENCH_CA`, `GERMAN`, `HEBREW`, `HINDI`, `INDONESIAN`, `ITALIAN`, `JAPANESE`, `KOREAN`, `LATVIAN`, `LITHUANIAN`, `MALAY`, `MALTESE`, `NORWEGIAN`, `PORTUGUESE`, `PORTUGUESE_BR`, `POLISH`, `RUSSIAN`, `SLOVENIAN`, `SPANISH`, `SPANISH_MX`, `SWEDISH`, `THAI`, `TURKISH`, `VIETNAMESE`.'
        LimitedTimeStartDate:
          type: string
          format: date-time
          description: The start date of a limited-time promotion associated with this ad.
          example: '2020-09-16T17:01:28-07:00'
        LimitedTimeEndDate:
          type: string
          format: date-time
          description: The end date of a limited-time promotion associated with this ad.
          example: ''
        RestrictedMediaPartners:
          type: array
          description: List of partner IDs that are restricted from using this ad.
          items:
            type: string
        RestrictedMediaPartnerGroups:
          type: array
          description: List of partner group names that are restricted from using this ad.
          items:
            type: string
        Season:
          type: string
          description: 'The seasonal theme associated with the ad. Possible values: `ANZAC_DAY`, `AUGUST_CIVIC_HOLIDAY`, `AUSTRALIA_DAY`, `BACK_TO_SCHOOL`, `BLACK_FRIDAY`, `BOXING_DAY`, `CANADA_DAY`, `CYBER_MONDAY`, `END_OF_FINANCIAL_YEAR`, `FAMILY_DAY`, `FATHERS_DAY`, `GOOD_FRIDAY`, `HALLOWEEN`, `HANUKKAH`, `INDEPENDANCE_DAY`, `LABOR_DAY`, `MEMORIAL_DAY`, `MOTHERS_DAY`, `NEW_YEAR`, `PRESIDENTS_DAY`, `QUEENS_BIRTHDAY`, `REMEMBRANCE_DAY`, `SPRING`, `ST_PATRICKS_DAY`, `SUMMER`, `THANKSGIVING`, `VALENTINES_DAY`, `VICTORIA_DAY`, `WAITANGI_DAY`, `WINTER`, `OTHER`.'
          example: SUMMER
        Uri:
          type: string
          format: uri-reference
          description: The URI of this ad resource.
          example: /Advertisers/{AccountSID}/Ads/892081
        DealId:
          type: string
          description: The unique identifier of the deal associated with this ad.
          example: '85433'
        DealName:
          type: string
          description: The name of the deal associated with this ad.
          example: Summer Sale 2020
        AdCodeTemplate:
          type: string
        CouponAllowCustomPromoCode:
          type: string
        CustomisationCharge:
          type: string
        MobileReady:
          type: string
          description: Whether the ad is optimized for mobile devices.
        PhoneTracking:
          type: string
          description: Whether phone call tracking is enabled for the ad.
        PromoCodeTracking:
          type: string
          description: Whether promo code tracking is enabled for the ad.
        TopSeller:
          type: string
          description: Whether the ad is marked as a top seller.
        DealDescription:
          type: string
        DealState:
          type: string
        DealType:
          type: string
        DealScope:
          type: string
        DealProducts:
          type: array
          items:
            type: string
        DealCategories:
          type: string
        DiscountType:
          type: string
        DiscountAmount:
          type: string
        DiscountCurrency:
          type: string
        DiscountPercent:
          type: string
        DiscountMaximumPercent:
          type: string
        DiscountPercentRangeStart:
          type: string
        DiscountPercentRangeEnd:
          type: string
        Gift:
          type: string
        RebateAmount:
          type: string
        RebateCurrency:
          type: string
        DealDefaultPromoCode:
          type: string
        MinimumPurchaseAmount:
          type: string
        MinimumPurchaseAmountCurrency:
          type: string
        MaximumSavingsAmount:
          type: string
        MaximumSavingsCurrency:
          type: string
        BogoBuyQuantity:
          type: string
        BogoBuyScope:
          type: string
        BogoBuyName:
          type: string
        BogoBuyImageUrl:
          type: string
        BogoGetQuantity:
          type: string
        BogoGetScope:
          type: string
        BogoGetDiscountType:
          type: string
        BogoGetName:
          type: string
        BogoGetImageUrl:
          type: string
        BogoGetDiscountAmount:
          type: string
        BogoGetDiscountCurrency:
          type: string
        BogoGetDiscountPercent:
          type: string
        PurchaseLimitQuantity:
          type: string
        DealStartDate:
          type: string
          format: date-time
        DealEndDate:
          type: string
          format: date-time
        SynchAdsPromoCodes:
          type: string
        DealRestrictedMediaPartners:
          type: array
          items:
            type: string
        DealRestrictedMediaPartnerGroups:
          type: array
          items:
            type: string
    Ad_2:
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier for the ad (the impact.com Ad ID).
          example: '3061348'
        Name:
          type: string
          description: Display name of the ad.
          example: Capsule Home Spring Promo
        Description:
          type: string
          description: Additional information about the ad, visible to partners.
          example: Spring promotion for the Capsule Home product line. Seasonal pricing on minimalist storage solutions.
        CampaignId:
          type: integer
          description: Unique identifier for the brand's program (campaign) that the ad is associated with.
          example: '27154'
        CampaignName:
          type: string
          description: Display name of the brand's program (campaign) that the ad is associated with.
          example: Capsule Corp
        Type:
          type: string
          enum:
          - BANNER
          - COUPON
          - TEXT_LINK
          description: The kind of ad.
          example: BANNER
        TrackingLink:
          type: string
          format: uri
          description: The ad's impact.com tracking link, unique to your partner account.
          example: https://capsulecorp.pxf.io/c/1924609/3061348/27154
        LandingPageUrl:
          type: string
          format: uri
          description: The URL the tracking link redirects to (the brand's landing page).
          example: https://www.capsulecorp.holdings/spring
        AdvertiserId:
          type: integer
          description: Unique identifier assigned by impact.com to the brand's advertiser account.
          example: '1804207'
        AdvertiserName:
          type: string
          description: Display name of the brand in impact.com.
          example: Acme Corporation
        Code:
          type: string
          description: The ad's HTML code with the tracking link embedded. Use the `/Code` endpoint to retrieve this with optional tracking parameters.
          example: <a href="https://capsulecorp.pxf.io/c/1924609/3061348/27154" target="_top" id="3061348"><img src="//a.impactradius-go.com/display-ad/27154-3061348" border="0" alt="" width="674" height="678"/></a>
        IFrameCode:
          type: string
          description: The ad's iframe code. Use the `/IFrameCode` endpoint to retrieve this with optional tracking parameters.
          example: <iframe id="iframe_414" src="//a.impactradius-go.com/gen-ad-code/1924609/3061348/27154/" width="674" height="678" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe>
        Width:
          type: integer
          description: For image ads, the width of the ad image in pixels.
          example: '674'
        Height:
          type: integer
          description: For image ads, the height of the ad image in pixels.
          example: '678'
        CreativeUrl:
          type: string
          description: Direct URL to the ad's creative asset (image, etc.).
          example: //a.impactradius-go.com/display-ad/27154-3061348
        Labels:
          type: string
          description: Labels assigned to the ad by the brand.
          example: ''
        AllowDeepLinking:
          type: boolean
          description: Whether the ad allows deep linking. If true, you can override the landing page URL via the landingPage parameter. If false, the landing page cannot be changed.
          example: 'true'
        MobileReady:
          type: boolean
          description: Whether the ad is optimized for mobile devices.
          example: 'true'
        Language:
          type: string
          enum:
          - AFRIKAANS
          - ARABIC
          - BULGARIAN
          - CHINESE
          - CHINESE_TRADITIONAL
          - CZECH
          - DANISH
          - DUTCH
          - ENGLISH
          - ENGLISH_GB
          - ANGLISH_AU
          - ENGLISH_CA
          - ENGLISH_NZ
          - ENGLISH_ZA
          - ESTONIAN
          - FILIPINO
          - FINISH
          - FRENCH
          - FRENCH_CA
          - GERMAN
          - HEBREW
          - HINDI
          - INDONESIAN
          - ITALIAN
          - JAPANESE
          - KOREAN
          - LATVIAN
          - LITHUANIAN
          - MALAY
          - MALTESE
          - NORWEGIAN
          - PORTUGUESE
          - PORTUGUESE_BR
          - POLISH
          - RUSSIAN
          - SLOVENIAN
          - SPANISH
          - SPANISH_MX
          - SWEDISH
          - THAI
          - TURKISH
          - VIETNAMESE
          description: The language the ad is hosted in.
          example: ENGLISH
        StartDate:
          type: string
          format: date-time
          description: The date and time the ad becomes active (ISO 8601). For ads without a start date, this is the date it was added to impact.com.
          example: '2026-03-01T00:00:00-08:00'
        EndDate:
          type: string
          format: date-time
          description: The date and time the ad expires (ISO 8601). Empty if the ad has no end date.
          example: '2026-05-31T23:59:59-07:00'
        Season:
          type: string
          enum:
          - ANZAC_DAY
          - AUGUST_CIVIC_HOLIDAY
          - AUSTRALIA_DAY
          - BACK_TO_SCHOOL
          - BLACK_FRIDAY
          - BOXING_DAY
          - CANADA_DAY
          - CYBER_MONDAY
          - END_OF_FINANCIAL_YEAR
          - FAMILY_DAY
          - FATHERS_DAY
          - GOOD_FRIDAY
          - HALLOWEEN
          - HANUKKAH
          - INDEPENDANCE_DAY
          - LABOR_DAY
          - MEMORIAL_DAY
          - MOTHERS_DAY
          - NEW_YEAR
          - PRESIDENTS_DAY
          - QUEENS_BIRTHDAY
          - REMEMBRANCE_DAY
          - SPRING
          - ST_PATRICKS_DAY
          - SUMMER
          - THANKSGIVING
          - VALENTINES_DAY
          - VICTORIA_DAY
          - WAITANGI_DAY
          - WINTER
          - OTHER
          description: The seasonal promotional theme of the ad, if applicable.
          example: SPRING
        TopSeller:
          type: boolean
          description: Whether the ad promotes a top-selling item.
          example: 'false'
        SubjectLines:
          type: string
          description: For email ads, the subject line of the email.
          example: ''
        FromAddresses:
          type: string
          description: For email ads, the sender address of the email.
          example: ''
        UnsubscribeLink:
          type: string
          format: uri
          description: For email ads, the unsubscribe link included in the email.
          example: ''
        DealId:
          type: integer
          description: Unique identifier for the deal associated with the ad.
          example: '92812'
        DealName:
          type: string
          description: Display name of the deal associated with the ad.
          example: Capsule Home Spring Sale
        DealDescription:
          type: string
          description: Additional information about the deal associated with the ad.
          example: 25% off all Capsule Home products for spring.
        DealState:
          type: string
          enum:
          - ACTIVE
          - EXPIRED
          - PENDING
          description: The current state of the deal associated with the ad.
          example: ACTIVE
        DealType:
          type: string
          enum:
          - GENERAL_SALE
          - FREE_SHIPPING
          - GIFT_WITH_PURCHASE
          - REBATE
          - BOGO
          description: How the deal is applied to the items in the ad.
          example: GENERAL_SALE
        DealScope:
          type: string
          enum:
          - CATEGORY
          - ENTIRE_STORE
          - PRODUCT
          description: The scope of the deal — whether it applies to a specific product, category, or the entire store.
          example: ENTIRE_STORE
        DealPublic:
          type: boolean
          description: Whether the deal associated with the ad is publicly visible.
          example: 'true'
        DealProducts:
          type: array
          description: If DealScope is PRODUCT, an array of product objects the deal applies to.
          items:
            type: object
            properties:
              ProductName:
                type: string
                description: Name of the product the deal applies to.
                example: Capsule Storage Box
              ProductImageURL:
                type: string
                format: uri
                description: URL to the product's image.
                example: https://www.capsulecorp.holdings/products/storage.jpg
              ProductBeforePriceAmount:
                type: integer
                description: Product price before the deal is applied.
                example: 100
              ProductBeforePriceCurrency:
                type: string
                description: ISO 4217 currency code for the before-deal price.
                example: USD
              ProductAfterPriceAmount:
                type: integer
                description: Product price after the deal is applied.
                example: 75
              ProductAfterPriceCurrency:
                type: string
                description: ISO 4217 currency code for the after-deal price.
                example: USD
        DealCategories:
          type: string
          description: If DealScope is CATEGORY, a comma-separated list of product categories the deal applies to.
          example: ''
        DiscountType:
          type: string
          enum:
          - FIXED
          - PERCENT
          - PERCENT_MAXIMUM
          - PERCENT_RANGE
          description: The type of discount applied when the deal is activated.
          example: PERCENT
        DiscountAmount:
          type: number
          format: decimal
          description: If DiscountType is FIXED, the fixed discount amount.
          example: ''
        DiscountCurrency:
          type: string
          description: If DiscountType is FIXED, the ISO 4217 currency code for DiscountAmount.
          example: ''
        DiscountPercent:
          type: number
          format: float
          description: If DiscountType is PERCENT, the discount percentage.
          example: 25
        DiscountMaximumPercent:
          type: number
          format: float
          description: If DiscountType is PERCENT_MAXIMUM, the maximum discount percentage a customer can receive.
          example: ''
        DiscountPercentRangeStart:
          type: number
          format: float
          description: If DiscountType is PERCENT_RANGE, the lowest discount percentage a customer can receive.
          example: ''
        DiscountPercentRangeEnd:
          type: number
          format: float
          description: If DiscountType is PERCENT_RANGE, the highest discount percentage a customer can receive.
          example: ''
        Gift:
          type: string
          description: If DealType is GIFT_WITH_PURCHASE, the name of the product to be gifted.
          example: ''
        RebateAmount:
          type: number
          format: decimal
          description: If DealType is REBATE, the rebate amount.
          example: ''
        RebateCurrency:
          type: string
          description: If DealType is REBATE, the ISO 4217 currency code for RebateAmount.
          example: ''
        DealDefaultPromoCode:
          type: string
          description: The default promo code for the associated deal.
          example: SPRING25
        MinimumPurchaseAmount:
          type: number
          format: decimal
          description: The minimum spend required before the deal is applied.
          example: 50.0
        MinimumPurchaseAmountCurrency:
          type: string
          description: ISO 4217 currency code for MinimumPurchaseAmount.
          example: USD
        MaximumSavingsAmount:
          type: number
          format: decimal
          description: The maximum amount a customer can save when the deal is applied.
          example: 100.0
        MaximumSavingsCurrency:
          type: string
          description: ISO 4217 currency code for MaximumSavingsAmount.
          example: USD
        BogoBuyQuantity:
          type: integer
          description: If DealType is BOGO, the number of 'buy' items required to activate the deal.
          example: ''
        BogoBuyScope:
          type: string
          enum:
          - PRODUCT
          - CATEGORY
          description: If DealType is BOGO, the scope of the 'buy' items.
          example: ''
        BogoBuyName:
          type: string
          description: If DealType is BOGO, the name of the 'buy' item(s).
          example: ''
        BogoBuyImageUrl:
          type: string
          format: uri
          description: If DealType is BOGO, the URL to the 'buy' product's image.
          example: ''
        BogoGetQuantity:
          type: integer
          description: If DealType is BOGO, the number of 'get' items the customer receives a discount on.
          example: ''
        BogoGetScope:
          type: string
          enum:
          - PRODUCT
          - CATEGORY
          description: If DealType is BOGO, the scope of the 'get' items.
          example: ''
        BogoGetDiscountType:
          type: string
          enum:
          - FREE
          - AMOUNT
          - PERCENT
          description: If DealType is BOGO, the type of discount applied to the 'get' items.
          example: ''
        BogoGetName:
          type: string
          description: If DealType is BOGO, the name of the 'get' item(s).
          example: ''
        BogoGetImageUrl:
          type: string
          format: uri
          description: If DealType is BOGO, the URL to the 'get' product's image.
          example: ''
        BogoGetDiscountAmount:
          type: number
          format: decimal
          description: If BogoGetDiscountType is AMOUNT, the fixed discount amount taken off the 'get' item's price.
          example: ''
        BogoGetDiscountCurrency:
          type: string
          description: If BogoGetDiscountType is AMOUNT, the ISO 4217 currency code for BogoGetDiscountAmount.
          example: ''
        BogoGetDiscountPercent:
          type: number
          format: float
          description: If BogoGetDiscountType is PERCENT, the discount percentage taken off the 'get' item's price.
          example: ''
        PurchaseLimitQuantity:
          type: integer
          description: If DealType is BOGO, the maximum quantity of 'buy' items a customer can purchase at once. A value of 0 means no limit.
          example: ''
        DealStartDate:
          type: string
          format: date-time
          description: The date and time the deal begins (ISO 8601).
          example: '2026-03-01T00:00:00-08:00'
        DealEndDate:
          type: string
          format: date-time
          description: The date and time the deal ends (ISO 8601).
          example: '2026-05-31T23:59:59-07:00'
        DealDateCreated:
          type: string
          format: date-time
          description: The date and time the deal was created (ISO 8601).
          example: ''
        DealDateLastUpdated:
          type: string
          format: date-time
          description: The date and time the deal was last updated (ISO 8601).
          example: ''
        Uri:
          type: string
          description: Unique reference to the ad object in the impact.com API.
          example: /Mediapartners/<AccountSID>/Ads/3061348
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your AccountSID as the username and AuthToken as the password.
x-refined-from:
- impact-radius-brand-ads-v14.yml
- impact-radius-partner-ads-v15.yml
