openapi: 3.2.0
info:
  title: Brand API - Exception Lists Exception List Items API
  description: API for managing Exception Lists, which are used to pay partners different rates based on the category or SKU of products in a conversion. This includes managing the lists and their individual items.
  version: v14
servers:
- url: https://api.impact.com
security:
- basicAuth: []
tags:
- name: Exception List Items
paths:
  /Advertisers/{AccountSID}/ExceptionLists/{ExceptionListId}/Items:
    get:
      summary: List Items in an Exception List
      description: Returns a list of all items within a specific exception list.
      operationId: listExceptionListItems
      tags:
      - Exception List Items
      parameters:
      - name: AccountSID
        in: path
        required: true
        schema:
          type: string
      - name: ExceptionListId
        in: path
        required: true
        description: The unique identifier for the exception list.
        schema:
          type: integer
      - name: Value
        in: query
        description: Filter items by their 'Value' (the specific SKU or Category).
        schema:
          type: string
      responses:
        '200':
          description: A paginated list of exception list item objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ExceptionListItems:
                    type: array
                    description: The list of items in this exception list.
                    items:
                      $ref: '#/components/schemas/ExceptionListItem'
      x-codeSamples:
      - lang: cURL
        source: "curl -L \\\n  --url 'https://api.impact.com/Advertisers/{AccountSID}/ExceptionLists/{ExceptionListId}/Items' \\\n  --user '{AccountSID}:{AuthToken}' \\\n  --header 'Accept: */*'"
    post:
      summary: Create Items in an Exception List
      description: Creates one or more new items for an exception list, either via form parameters for a single item or by uploading a file for multiple items.
      operationId: createExceptionListItems
      tags:
      - Exception List Items
      parameters:
      - name: AccountSID
        in: path
        required: true
        schema:
          type: string
      - name: ExceptionListId
        in: path
        required: true
        description: The unique identifier for the exception list.
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExceptionListItemCreateForm'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExceptionListItemCreateFile'
        description: 'To create a single item, send `Value` (and optionally `Name`) as `application/x-www-form-urlencoded`.


          To bulk-upload items from a `.csv` or `.xlsx` file, switch the content type to `multipart/form-data` and send the `File` parameter.'
      responses:
        '200':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessUriResponse'
      x-codeSamples:
      - lang: cURL
        source: "curl -L \\\n  --request POST \\\n  --url 'https://api.impact.com/Advertisers/{AccountSID}/ExceptionLists/{ExceptionListId}/Items' \\\n  --user '{AccountSID}:{AuthToken}' \\\n  --header 'Content-Type: application/x-www-form-urlencoded' \\\n  --header 'Accept: */*'"
    patch:
      summary: Replace All Items in an Exception List
      description: Replaces all items within an existing exception list by uploading a new .CSV or .XLSX file.
      operationId: replaceExceptionListItems
      tags:
      - Exception List Items
      parameters:
      - name: AccountSID
        in: path
        required: true
        schema:
          type: string
      - name: ExceptionListId
        in: path
        required: true
        description: The unique identifier for the exception list.
        schema:
          type: integer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - File
              properties:
                File:
                  type: string
                  format: binary
                  description: A .CSV or .XLSX file containing the new items.
      responses:
        '200':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessUriResponse'
      x-codeSamples:
      - lang: cURL
        source: "curl -L \\\n  --request PATCH \\\n  --url 'https://api.impact.com/Advertisers/{AccountSID}/ExceptionLists/{ExceptionListId}/Items' \\\n  --user '{AccountSID}:{AuthToken}' \\\n  --header 'Accept: */*'"
    delete:
      summary: Delete All Items from an Exception List
      description: Permanently deletes all items in an exception list. This cannot be undone.
      operationId: deleteAllExceptionListItems
      tags:
      - Exception List Items
      parameters:
      - name: AccountSID
        in: path
        required: true
        schema:
          type: string
      - name: ExceptionListId
        in: path
        required: true
        description: The unique identifier for the exception list.
        schema:
          type: integer
      responses:
        '200':
          description: All items were deleted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    description: Indicates that the resource was deleted.
                    example: DELETED
      x-codeSamples:
      - lang: cURL
        source: "curl -L \\\n  --request DELETE \\\n  --url 'https://api.impact.com/Advertisers/{AccountSID}/ExceptionLists/{ExceptionListId}/Items' \\\n  --user '{AccountSID}:{AuthToken}' \\\n  --header 'Accept: */*'"
  /Advertisers/{AccountSID}/ExceptionLists/{ExceptionListId}/Items/{ItemId}:
    get:
      summary: Get Exception List Item Details
      description: Retrieves the details of a single item from an exception list.
      operationId: getExceptionListItemById
      tags:
      - Exception List Items
      parameters:
      - name: AccountSID
        in: path
        required: true
        schema:
          type: string
      - name: ExceptionListId
        in: path
        required: true
        schema:
          type: integer
      - name: ItemId
        in: path
        required: true
        description: The unique identifier for the exception list item.
        schema:
          type: integer
      responses:
        '200':
          description: A single exception list item object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionListItem'
      x-codeSamples:
      - lang: cURL
        source: "curl -L \\\n  --url 'https://api.impact.com/Advertisers/{AccountSID}/ExceptionLists/{ExceptionListId}/Items/{ItemId}' \\\n  --user '{AccountSID}:{AuthToken}' \\\n  --header 'Accept: */*'"
    delete:
      summary: Delete an Exception List Item
      description: Permanently deletes a single item from an exception list. This cannot be undone.
      operationId: deleteExceptionListItem
      tags:
      - Exception List Items
      parameters:
      - name: AccountSID
        in: path
        required: true
        schema:
          type: string
      - name: ExceptionListId
        in: path
        required: true
        schema:
          type: integer
      - name: ItemId
        in: path
        required: true
        description: The unique identifier for the exception list item.
        schema:
          type: integer
      responses:
        '200':
          description: The item was deleted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    description: Indicates that the resource was deleted.
                    example: DELETED
      x-codeSamples:
      - lang: cURL
        source: "curl -L \\\n  --request DELETE \\\n  --url 'https://api.impact.com/Advertisers/{AccountSID}/ExceptionLists/{ExceptionListId}/Items/{ItemId}' \\\n  --user '{AccountSID}:{AuthToken}' \\\n  --header 'Accept: */*'"
components:
  schemas:
    ExceptionListItemCreateFile:
      type: object
      required:
      - File
      properties:
        File:
          type: string
          format: binary
          description: A .CSV or .XLSX file containing the items to be added.
        Upsert:
          type: boolean
          default: false
          description: If true, updates existing items where 'Value' matches.
    ExceptionListItemCreateForm:
      type: object
      required:
      - Value
      properties:
        Value:
          type: string
          description: The CATEGORY or SKU value.
          example: CA
        Name:
          type: string
          description: Display name for contracting purposes.
          example: California
        Upsert:
          type: boolean
          default: false
          description: If true, updates an existing item with the same 'Value'.
          example: true
    ExceptionListItem:
      type: object
      properties:
        Id:
          type: integer
          description: The unique identifier for the exception list item.
          example: 1001
        Value:
          type: string
          description: The CATEGORY or SKU value.
          example: CA
        Name:
          type: string
          description: Display name for the item.
          example: California
        MatchMode:
          type: string
          description: How the value is matched against incoming actions.
          enum:
          - EQ
          - REGEX
        ListId:
          type: integer
          description: The unique identifier of the parent exception list.
          example: 99999
        CreatedDate:
          type: string
          format: date-time
          description: The date and time the item was created.
          example: '2026-01-15T10:00:00-08:00'
        Uri:
          type: string
          format: uri-reference
          description: The unique reference to this item in the impact.com API.
          example: /Advertisers/<AccountSID>/ExceptionLists/99999/Items/1001
    SuccessUriResponse:
      type: object
      properties:
        Status:
          type: string
          description: Indicates whether the operation was successful.
          example: OK
        Uri:
          type: string
          format: uri-reference
          description: The unique reference to the affected resource.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your AccountSID as the username and AuthToken as the password.
x-default-client: cURL
