openapi: 3.2.0
info:
  title: Impact Radius Actions API
  version: '1.0'
  description: 'Operations tagged Actions across 2 of this provider''s published API definitions: impact-radius-brand-actions-v14.yml, impact-radius-partner-actions-v15.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.impact.com
tags:
- name: Actions
paths:
  /Advertisers/{AccountSID}/Actions:
    get:
      summary: List actions
      description: 'Returns a list of actions your campaign has recorded, filtered by the provided parameters.

        Actions are returned by creation date, with the most recently created actions appearing first.


        **Date filtering constraints (effective 5 August 2024):**

        - `StartDate` cannot be more than 3 years in the past.

        - The range between `StartDate` and `EndDate` cannot exceed 45 days.

        - If neither is specified, only the past 7 days are returned.

        - If `StartDate` is specified, `EndDate` must also be specified.

        - Default page size is 20,000 records. Minimum page size is 2,000.

        - If the total record count exceeds 10× the page size, an error is returned — reduce the date range or increase PageSize.


        **Note on StartDate/EndDate:** These filter on the last updated date, not the event date. State transitions

        (e.g., Pending → Approved) are not considered updates and will not be reflected by these filters.

        Use `LockingDateStart`/`LockingDateEnd` to filter by approval date.

        '
      operationId: listActions
      tags:
      - Actions
      parameters:
      - name: AccountSID
        in: path
        required: true
        description: Your unique account identifier.
        schema:
          type: string
        example: IRyMQiCNtwrt1804207G3t8Pn6NyzfyDw1
      - name: CampaignId
        in: query
        required: true
        description: The ID of the campaign (program) to list actions for.
        schema:
          type: integer
        example: 1000
      - name: State
        in: query
        description: Filters actions based on their current state.
        schema:
          type: string
          enum:
          - PENDING
          - APPROVED
          - REVERSED
        example: PENDING
      - name: StartDate
        in: query
        description: Filters for actions with a last updated date on or after this value (ISO 8601 with time component). Must be used with EndDate.
        schema:
          type: string
          format: date-time
        example: '2024-01-01T00:00:00Z'
      - name: EndDate
        in: query
        description: Filters for actions with a last updated date on or before this value (ISO 8601 with time component). Requires StartDate.
        schema:
          type: string
          format: date-time
        example: '2024-01-31T23:59:59Z'
      - name: ActionDateStart
        in: query
        description: Filters for actions with an EventDate on or after this value (ISO 8601 with time component). Can be used as an alternative to StartDate.
        schema:
          type: string
          format: date-time
        example: '2024-01-01T00:00:00Z'
      - name: ActionDateEnd
        in: query
        description: Filters for actions with an EventDate on or before this value (ISO 8601 with time component). Requires ActionDateStart.
        schema:
          type: string
          format: date-time
        example: '2024-01-31T23:59:59Z'
      - name: LockingDateStart
        in: query
        description: Filters for actions with a LockingDate on or after this value (ISO 8601 with time component).
        schema:
          type: string
          format: date-time
        example: '2024-01-01T00:00:00Z'
      - name: LockingDateEnd
        in: query
        description: Filters for actions with a LockingDate on or before this value (ISO 8601 with time component). Requires LockingDateStart.
        schema:
          type: string
          format: date-time
        example: '2024-01-31T23:59:59Z'
      responses:
        '200':
          description: A paginated list of action objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Actions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Action'
      x-codeSamples:
      - lang: cURL
        source: "curl 'https://api.impact.com/Advertisers/<AccountSID>/Actions?CampaignId=1000&StartDate=2024-01-01T00:00:00Z&EndDate=2024-01-31T23:59:59Z' \\\n  -X GET \\\n  -u '<AccountSID>:<AuthToken>' \\\n  -H 'Accept: application/json'"
      security:
      - basicAuth: []
    put:
      summary: Update an action or its items
      description: "Updates the specified action or its line items by setting the values of the parameters passed.\n\n- To update an action's top-level details (e.g., `CustomerStatus`), provide the `ActionId`\n  (or `ActionTrackerId` and `OrderId`) and the fields to update.\n- To update one or more items within an action, provide the `ActionId`, `Sku`, and\n  item-specific fields like `Quantity` and `Amount`.\n\nNote: impact.com allows a maximum of 1,000 modifications per action.\n"
      operationId: updateActionOrItems
      tags:
      - Actions
      parameters:
      - name: AccountSID
        in: path
        required: true
        description: Your unique account identifier.
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ActionModificationRequest'
      responses:
        '200':
          description: The update request has been queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueuedResponse'
      x-codeSamples:
      - lang: cURL
        source: "curl 'https://api.impact.com/Advertisers/<AccountSID>/Actions' \\\n  -X PUT \\\n  -u '<AccountSID>:<AuthToken>' \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -H 'Accept: application/json' \\\n  -d 'ActionId=1000.4636.158133&Reason=ORDER_UPDATE&CustomerStatus=EXISTING'"
      security:
      - basicAuth: []
    delete:
      summary: Reverse an action
      description: 'Reverses an action using its `ActionId` or a combination of `ActionTrackerId` and `OrderId`.

        This will cancel any pending payouts to partners for the action.

        '
      operationId: reverseAction
      tags:
      - Actions
      parameters:
      - name: AccountSID
        in: path
        required: true
        description: Your unique account identifier.
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ActionReversalRequest'
      responses:
        '200':
          description: The reversal request has been queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueuedResponse'
      x-codeSamples:
      - lang: cURL
        source: "curl 'https://api.impact.com/Advertisers/<AccountSID>/Actions' \\\n  -X DELETE \\\n  -u '<AccountSID>:<AuthToken>' \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -H 'Accept: application/json' \\\n  -d 'ActionId=1000.4636.158133&DispositionCode=ITEM_RETURNED'"
      security:
      - basicAuth: []
    servers:
    - url: https://api.impact.com
  /Advertisers/{AccountSID}/Actions/{ActionId}:
    get:
      summary: Get action details
      description: Retrieves the details of an existing action by its unique impact.com ActionId.
      operationId: getActionById
      tags:
      - Actions
      parameters:
      - name: AccountSID
        in: path
        required: true
        description: Your unique account identifier.
        schema:
          type: string
      - name: ActionId
        in: path
        required: true
        description: The unique impact.com identifier for the action.
        schema:
          type: string
        example: 1000.4636.158133
      responses:
        '200':
          description: An action object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
      x-codeSamples:
      - lang: cURL
        source: "curl 'https://api.impact.com/Advertisers/<AccountSID>/Actions/1000.4636.158133' \\\n  -X GET \\\n  -u '<AccountSID>:<AuthToken>' \\\n  -H 'Accept: application/json'"
      security:
      - basicAuth: []
    servers:
    - url: https://api.impact.com
  /Advertisers/{AccountSID}/Actions/{ActionId}/Items:
    get:
      summary: List action items
      description: Returns a list of the items within the specified action. The items are returned in the order they were originally recorded. All actions contain at least one item.
      operationId: listActionItems
      tags:
      - Actions
      parameters:
      - name: AccountSID
        in: path
        required: true
        description: Your unique account identifier.
        schema:
          type: string
      - name: ActionId
        in: path
        required: true
        description: The unique impact.com identifier for the action.
        schema:
          type: string
        example: 1000.4636.158133
      responses:
        '200':
          description: A paginated list of action item objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ActionItems:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActionItem'
      x-codeSamples:
      - lang: cURL
        source: "curl 'https://api.impact.com/Advertisers/<AccountSID>/Actions/1000.4636.158133/Items' \\\n  -X GET \\\n  -u '<AccountSID>:<AuthToken>' \\\n  -H 'Accept: application/json'"
      security:
      - basicAuth: []
    servers:
    - url: https://api.impact.com
  /Advertisers/{AccountSID}/Actions/{ActionId}/Items/{Sku}:
    get:
      summary: Get action item details
      description: Retrieves the details of a specific line item within an action. Requires the ActionId and the item's Sku.
      operationId: getActionItemBySku
      tags:
      - Actions
      parameters:
      - name: AccountSID
        in: path
        required: true
        description: Your unique account identifier.
        schema:
          type: string
      - name: ActionId
        in: path
        required: true
        description: The unique impact.com identifier for the action.
        schema:
          type: string
        example: 1000.4636.158133
      - name: Sku
        in: path
        required: true
        description: The Stock-Keeping Unit (SKU) or product identifier of the item.
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: An action item object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionItem'
      x-codeSamples:
      - lang: cURL
        source: "curl 'https://api.impact.com/Advertisers/<AccountSID>/Actions/1000.4636.158133/Items/12345' \\\n  -X GET \\\n  -u '<AccountSID>:<AuthToken>' \\\n  -H 'Accept: application/json'"
      security:
      - basicAuth: []
    servers:
    - url: https://api.impact.com
  /Mediapartners/{AccountSID}/Actions:
    get:
      summary: List Actions
      description: 'Returns a list of actions attributed to you, ordered by creation date (newest first).


        **Date filtering rules:**

        - If no `StartDate` and `EndDate` are specified, only records from the past 7 days are returned.

        - `StartDate` and `EndDate` cannot be more than 45 days apart.

        - `StartDate` cannot exceed 3 years in the past.

        - If `StartDate` is specified, `EndDate` must also be specified.

        '
      operationId: listActions
      tags:
      - Actions
      parameters:
      - name: AccountSID
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the partner account.
      - name: CampaignId
        in: query
        schema:
          type: integer
        description: Filters actions for a specific campaign.
      - name: State
        in: query
        schema:
          $ref: '#/components/schemas/ActionState'
        description: Filters actions by their current state.
      - name: ActionDateStart
        in: query
        schema:
          type: string
          format: date-time
        description: Filters actions with an EventDate on or after this value.
      - name: ActionDateEnd
        in: query
        schema:
          type: string
          format: date-time
        description: Filters actions with an EventDate on or before this value.
      - name: StartDate
        in: query
        schema:
          type: string
          format: date-time
        description: Filters actions last updated on or after this value. Requires EndDate. Cannot be more than 45 days before EndDate or more than 3 years in the past.
      - name: EndDate
        in: query
        schema:
          type: string
          format: date-time
        description: Filters actions last updated on or before this value. Requires StartDate.
      - name: LockingDateStart
        in: query
        schema:
          type: string
          format: date-time
        description: Filters actions with a LockingDate on or after this value. Requires LockingDateEnd. The range between LockingDateStart and LockingDateEnd cannot exceed 45 days.
      - name: LockingDateEnd
        in: query
        schema:
          type: string
          format: date-time
        description: Filters actions with a LockingDate on or before this value. Requires LockingDateStart.
      responses:
        '200':
          description: A list of action objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Actions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Action_2'
    servers:
    - url: https://api.impact.com
      description: Production server
  /Mediapartners/{AccountSID}/Actions/{id}:
    get:
      summary: Retrieve an Action
      description: Retrieves the details of an existing action using its unique ID.
      operationId: retrieveAction
      tags:
      - Actions
      parameters:
      - name: AccountSID
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the partner account.
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the action.
      responses:
        '200':
          description: The action object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action_2'
    servers:
    - url: https://api.impact.com
      description: Production server
  /Mediapartners/{AccountSID}/Actions/{id}/Items:
    get:
      summary: List all items for an action
      description: Returns a list of the items within the specified action in the order they were recorded. Each action has at least one item.
      operationId: listActionItems
      tags:
      - Actions
      parameters:
      - name: AccountSID
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the partner account.
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the action.
      responses:
        '200':
          description: An array of action item objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ActionItems:
                    type: array
                    items:
                      $ref: '#/components/schemas/Item'
    servers:
    - url: https://api.impact.com
      description: Production server
  /Mediapartners/{AccountSID}/Actions/{actionId}/Items/{sku}:
    get:
      summary: Retrieve an item from an action
      description: Retrieves the details of a specific item within an action using its SKU.
      operationId: retrieveActionItem
      tags:
      - Actions
      parameters:
      - name: AccountSID
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the partner account.
      - name: actionId
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the action.
      - name: sku
        in: path
        required: true
        schema:
          type: string
        description: The SKU or product identifier of the item.
      responses:
        '200':
          description: A single action item object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
    servers:
    - url: https://api.impact.com
      description: Production server
  /Mediapartners/{AccountSID}/ActionUpdates:
    get:
      summary: List Action Updates
      description: 'Returns a list of action updates, useful for syncing action state changes with internal systems. Each record represents a change to an action''s state or payout.


        **Note:** impact.com recommends using action lifecycle postbacks instead of polling this endpoint for all but occasional requests, in order to receive low-latency near-realtime action updates.


        **Date filtering rules:**

        - If no `StartDate` and `EndDate` are specified, only records from the past 7 days are returned.

        - `StartDate` and `EndDate` cannot be more than 45 days apart.

        - `StartDate` cannot exceed 3 years in the past.

        - If `StartDate` is specified, `EndDate` must also be specified.

        '
      operationId: listActionUpdates
      tags:
      - Actions
      parameters:
      - name: AccountSID
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the partner account.
      - name: StartDate
        in: query
        schema:
          type: string
          format: date-time
        description: Filters action updates last modified on or after this value. Requires EndDate. Cannot be more than 45 days before EndDate or more than 3 years in the past.
      - name: EndDate
        in: query
        schema:
          type: string
          format: date-time
        description: Filters action updates last modified on or before this value. Requires StartDate.
      - name: CampaignId
        in: query
        schema:
          type: integer
        description: Filters action updates for a specific campaign.
      - name: State
        in: query
        schema:
          $ref: '#/components/schemas/ActionState'
        description: Filters action updates by the action's current state.
      - name: ActionDateStart
        in: query
        schema:
          type: string
          format: date-time
        description: Filters action updates whose action's EventDate is on or after this value. Requires ActionDateEnd. The range cannot exceed 45 days.
      - name: ActionDateEnd
        in: query
        schema:
          type: string
          format: date-time
        description: Filters action updates whose action's EventDate is on or before this value. Requires ActionDateStart.
      - name: LockingDateStart
        in: query
        schema:
          type: string
          format: date-time
        description: Filters action updates whose action's LockingDate is on or after this value. Requires LockingDateEnd. The range cannot exceed 45 days.
      - name: LockingDateEnd
        in: query
        schema:
          type: string
          format: date-time
        description: Filters action updates whose action's LockingDate is on or before this value. Requires LockingDateStart.
      responses:
        '200':
          description: An array of action update objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ActionUpdates:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActionUpdate'
    servers:
    - url: https://api.impact.com
      description: Production server
  /Mediapartners/{AccountSID}/ActionUpdates/{id}:
    get:
      summary: Retrieve an Action Update
      description: Retrieves the details of a specific action update record.
      operationId: retrieveActionUpdate
      tags:
      - Actions
      parameters:
      - name: AccountSID
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the partner account.
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for the action update record.
      responses:
        '200':
          description: A single action update object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionUpdate'
    servers:
    - url: https://api.impact.com
      description: Production server
components:
  schemas:
    ActionModificationRequest:
      type: object
      description: 'Request body for updating an action or its line items. At least one identifier path must be provided: either `ActionId` and `Reason`, or `ActionTrackerId` + `OrderId` and `Reason`.'
      properties:
        ActionId:
          type: string
          description: The unique impact.com identifier for the action to update. Required unless ActionTrackerId and OrderId are used together.
          example: 1000.4636.158133
        ActionTrackerId:
          type: integer
          description: The event type ID. Required with OrderId if ActionId is not used.
          example: 2240
        OrderId:
          type: string
          description: Your unique order identifier. Required with ActionTrackerId if ActionId is not used.
          example: '9217374917472'
        Reason:
          type: string
          description: 'Required. A valid reason code for the modification. Default reason codes:

            `ORDER_UPDATE`, `ITEM_RETURNED`, `CONS_FRAUD`, `CONS_ERROR`, `ORDER_ERROR`,

            `PUB_ACT_DISPUTE`, `ADV_ACT_DISPUTE`, `NOT_COMPLIANCE_TERMS`,

            `ITEM_OUT_OF_STOCK`, `TEST_ACTION`, `PARTNER_NOT_ACTIVE`,

            `CREDITED_DIFFERENT_MP`, `OTHER`.

            '
          example: ORDER_UPDATE
        DispositionCode:
          type: string
          description: Submit `ORDER_UPDATE` as the default value for updating an action. Custom disposition codes may be used if configured in event type settings.
          example: ORDER_UPDATE
        Amount:
          type: number
          description: The new total sale amount for the order. Setting to 0 on a tracked action with a non-zero amount will reverse the action.
          example: 19.99
        CustomerStatus:
          type: string
          description: A new custom status for the customer (e.g., `NEW`, `EXISTING`). Must be configured in event type settings.
          example: EXISTING
        Sku:
          type: string
          description: SKU of the item to update. For bulk item updates use indexed params (Sku, Sku2, Sku3, etc.).
          example: '12345'
        Category:
          type: string
          maxLength: 255
          description: Category for the product. Can be automatically pulled if a product catalog has been uploaded. For item-level modifications, include for each item.
          example: Footwear
        Quantity:
          type: integer
          description: The new absolute quantity of the item. For bulk item updates use indexed params (Quantity, Quantity2, etc.).
          example: 2
        ItemSubTotalDelta:
          type: number
          description: A relative delta amount to add or subtract from the item's SaleAmount. Use instead of Amount for partial adjustments.
          example: -5.0
    QueuedResponse:
      type: object
      description: Returned when a modification or reversal request has been accepted and queued for processing.
      properties:
        Status:
          type: string
          description: Indicates the status of the request. A successful submission returns `QUEUED`.
          example: QUEUED
        QueuedUri:
          type: string
          format: uri-reference
          description: The URI of the API submission record, which can be used to track the status of the queued request.
          example: /Advertisers/IRyMQiCNtwrt1804207G3t8Pn6NyzfyDw1/APISubmissions/A-4632dba3-2211-4615-a62d-6e121ddcdfa1
    ActionReversalRequest:
      type: object
      description: Request body for reversing an action.
      required:
      - DispositionCode
      properties:
        ActionId:
          type: string
          description: The unique impact.com identifier for the action to reverse. Required unless ActionTrackerId and OrderId are used together.
          example: 1000.4636.158133
        ActionTrackerId:
          type: integer
          description: The event type ID. Required with OrderId if ActionId is not used.
          example: 2240
        OrderId:
          type: string
          description: Your unique order identifier. Required with ActionTrackerId if ActionId is not used.
          example: '9217374917472'
        DispositionCode:
          type: string
          description: Required. A valid code explaining the reason for the reversal. Changes the action status to REVERSED.
          enum:
          - REJECTED
          - CONS_INFO_INVALID
          - CONS_ERROR
          - CONS_FRAUD
          - ITEM_RETURNED
          - ITEM_OUT_OF_STOCK
          - ORDER_ERROR
          - PUB_ACT_DISPUTE
          - NOT_COMPLIANCE_TERMS
          - MP_RETURNED
          - OTHER
          - CREDITED_DIFFERENT_MP
          - ADV_ACT_DISPUTE
          - TEST_ACTION
          example: ITEM_RETURNED
    ActionItem:
      type: object
      description: Represents a single line item within an action.
      properties:
        Sku:
          type: string
          description: Stock-keeping unit (SKU) or product identifier for the item.
          example: '12345'
        ItemName:
          type: string
          description: Display name of the product.
          example: Acme Tennis Balls (One Dozen)
        Category:
          type: string
          description: Product category for the item.
          example: Sports
        Quantity:
          type: string
          description: Number of units of this product in the order.
          example: '2'
        SaleAmount:
          type: string
          description: Revenue amount for this line item.
          example: '19.27'
        SaleAmountCurrency:
          type: string
          description: Three-letter ISO 4217 currency code for the sale amount.
          example: USD
        Payout:
          type: number
          description: Commission amount for this line item.
          example: 0.77
        PayoutCurrency:
          type: string
          description: Three-letter ISO 4217 currency code for the payout amount.
          example: USD
        Rebate:
          type: number
          description: Discount or rebate amount applied to this item.
          example: 1.0
        RebateCurrency:
          type: string
          description: Three-letter ISO 4217 currency code for the rebate amount.
          example: USD
        AdjustmentDate:
          type: string
          format: date-time
          nullable: true
          description: Timestamp of the most recent adjustment to this item. Empty if the item has not been modified.
          example: ''
        AdjustmentReason:
          type: string
          description: The reason code for the most recent adjustment to this item.
          example: ''
        Uri:
          type: string
          format: uri-reference
          description: Unique URI reference to this action item object.
          example: /Advertisers/IRyMQiCNtwrt1804207G3t8Pn6NyzfyDw1/Actions/1000.4636.158133/Items/12345
    Action:
      type: object
      description: Represents a conversion event credited to a partner.
      properties:
        Id:
          type: string
          description: Unique impact.com identifier for the action.
          example: 1000.4636.158133
        CampaignId:
          type: integer
          description: Unique identifier for the campaign (program) this action belongs to.
          example: 1000
        CampaignName:
          type: string
          description: Display name of the campaign.
          example: Acme Campaign
        ActionTrackerId:
          type: integer
          description: Unique identifier for the action tracker (event type) that recorded this action.
          example: 2240
        ActionTrackerName:
          type: string
          description: Display name of the action tracker (event type).
          example: Sale
        EventCode:
          type: string
          description: The event code associated with the action tracker, if configured.
          example: ''
        MediaPartnerId:
          type: integer
          description: Unique identifier for the partner credited for this action.
          example: 10000
        MediaPartnerName:
          type: string
          description: Display name of the credited partner.
          example: Acme Partner
        State:
          type: string
          description: 'Current state of the action.

            - `PENDING`: Awaiting locking date or manual approval. Modified actions also carry this state.

            - `APPROVED`: Reached its locking date or was manually approved. Will pay out the partner.

            - `REVERSED`: Was reversed and will not pay out the partner.

            '
          enum:
          - PENDING
          - APPROVED
          - REVERSED
          example: PENDING
        AdId:
          type: integer
          description: Unique identifier for the ad creative that drove the winning click.
          example: 506720
        ClientCost:
          type: number
          description: The total cost to the brand for this action (payout plus any fees).
          example: 0.88
        Payout:
          type: number
          description: Commission amount to be paid to the partner.
          example: 0.88
        DeltaPayout:
          type: number
          description: The change in payout value from the most recent modification. Equals Payout for unmodified actions.
          example: 0.88
        IntendedPayout:
          type: number
          description: The originally intended payout before any modifications.
          example: 0.88
        Amount:
          type: number
          description: Revenue amount (sale amount) associated with this action.
          example: 21.99
        DeltaAmount:
          type: number
          description: The change in sale amount from the most recent modification. Equals Amount for unmodified actions.
          example: 21.99
        IntendedAmount:
          type: number
          description: The originally intended sale amount before any modifications.
          example: 21.99
        Currency:
          type: string
          description: Three-letter ISO 4217 currency code for monetary values in this action.
          example: USD
        ReferringDate:
          type: string
          format: date-time
          description: Timestamp of the winning click that led to this conversion.
          example: '2020-09-10T09:45:07-07:00'
        EventDate:
          type: string
          format: date-time
          description: Timestamp of when the conversion event occurred.
          example: '2020-09-10T10:42:38-07:00'
        CreationDate:
          type: string
          format: date-time
          description: Timestamp of when this action record was created in impact.com.
          example: '2020-09-10T10:51:23-07:00'
        LockingDate:
          type: string
          format: date-time
          description: Date after which the action can no longer be modified. Once passed, a Pending action moves to Approved.
          example: '2020-09-26T00:00:00-07:00'
        ClearedDate:
          type: string
          format: date-time
          nullable: true
          description: Date when the commission for this action was cleared and paid out. Empty if not yet cleared.
          example: ''
        ReferringType:
          type: string
          description: The type of referral that drove the winning click (e.g., `CLICK_COOKIE`, `CLICK_FINGERPRINT`).
          example: CLICK_COOKIE
        ReferringDomain:
          type: string
          description: Domain of the website where the winning click occurred. May be empty.
          example: ''
        PromoCode:
          type: string
          description: Promotional code applied during the conversion, if any.
          example: SUMMERSALE2020
        Oid:
          type: string
          description: Your unique identifier for the order associated with this action.
          example: '9217374917472'
        CustomerId:
          type: string
          description: Your unique, non-PII identifier for the customer who made the conversion.
          example: BCZ2WVSH674563PDPYOTM3AXDQ
        CustomerStatus:
          type: string
          description: A custom status label for the customer, as defined in your event type settings (e.g., `NEW`, `EXISTING`).
          example: NEW
        CustomerPostCode:
          type: string
          description: Postal code of the customer, if passed at conversion time.
          example: '15122'
        CustomerArea:
          type: string
          description: Area or neighbourhood of the customer, if passed at conversion time.
          example: n/a
        CustomerCity:
          type: string
          description: City of the customer, if passed at conversion time.
          example: Santa Barbara
        CustomerRegion:
          type: string
          description: State or region of the customer, if passed at conversion time.
          example: California
        CustomerCountry:
          type: string
          description: Two-letter ISO country code for the customer's country, if passed at conversion time.
          example: US
        IpAddress:
          type: string
          description: Hashed IP address of the customer at the time of conversion.
          example: 979823c536b3e06e4f1ee31af1f82b9d
        SharedId:
          type: string
          description: The Shared ID value passed from the winning click, used for cross-device or cross-channel attribution.
          example: RT-19247423
        CallerId:
          type: string
          description: Caller ID associated with the action, used in call tracking integrations.
          example: ''
        Note:
          type: string
          description: Free-text note attached to the action, if any.
          example: ''
        Uri:
          type: string
          format: uri-reference
          description: Unique URI reference to this action object.
          example: /Advertisers/IRyMQiCNtwrt1804207G3t8Pn6NyzfyDw1/Actions/1000.4636.158133
    ActionUpdate:
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier for the action update record.
          example: 1000.1234.56789.10111213
        ActionId:
          type: string
          description: Identifier for the parent action associated with this update.
          example: 1000.1234.56789
        CampaignId:
          type: integer
          description: Unique identifier for the campaign associated with the action.
          example: '1000'
        ActionTrackerId:
          type: string
          description: Unique identifier of the action tracker (event type) that recorded the action.
          example: '10000'
        EventCode:
          type: string
          description: Internal event code associated with the action tracker.
          example: ''
        State:
          $ref: '#/components/schemas/ActionState'
          description: 'The current state of the action:

            - `PENDING`: Awaiting the locking date for automatic approval, or manual review.

            - `APPROVED`: Approved and will pay out to the partner.

            - `REVERSED`: Reversed and will not pay out to the partner.

            '
        StateDetail:
          type: string
          description: Additional detail about the current state of the action.
          example: ''
        StateDetailDescription:
          type: string
          description: Human-readable explanation of the state detail.
          example: Action comes in DEFAULT and a locking date has not been set yet
        AdId:
          type: string
          description: Unique identifier of the ad that drove the action, if applicable.
          example: '123456'
        ReportingState:
          type: string
          description: The reporting state of the action used by impact.com analytics.
          example: IR_BLANK
        DeltaPayout:
          type: string
          format: decimal
          description: The change in payout amount between this update and the previous one.
          example: '0.26'
        DeltaAmount:
          type: string
          format: decimal
          description: The change in transaction amount between this update and the previous one.
          example: '17.29'
        Currency:
          type: string
          description: Three-letter ISO 4217 currency code for the action amounts.
          example: USD
        Category:
          type: string
          description: Brand-defined category for the action.
          example: Sports
        Sku:
          type: string
          description: Stock keeping unit identifier for the product associated with the action, if applicable.
          example: 123ABC456
        Quantity:
          type: string
          description: Quantity of items associated with the action.
          example: '1'
        CatalogName:
          type: string
          description: Name of the catalog the action item belongs to.
          example: ''
        CatalogCategory:
          type: string
          description: Category of the action item from the brand's catalog.
          example: ''
        CatalogDescription:
          type: string
          description: Description of the action item from the brand's catalog.
          example: ''
        CatalogManufacturer:
          type: string
          description: Manufacturer of the action item from the brand's catalog.
          example: ''
        CatalogOriginalFormatCategory:
          type: string
          description: Original (unmodified) category of the action item from the brand's catalog.
          example: ''
        CatalogSubCategory:
          type: string
          description: Sub-category of the action item from the brand's catalog.
          example: ''
        UpdateDate:
          type: string
          format: date-time
          description: Date and time of the most recent modification to the action.
          example: '2021-04-25T02:07:45-04:00'
        LockingDate:
          type: string
          format: date-time
          description: Date and time the action will be (or was) locked for automatic state changes.
          example: '2021-05-16T00:00:00-04:00'
        ClearingDate:
          type: string
          format: date-time
          description: Date and time the action payout was (or will be) cleared for payment.
          example: '2021-05-16T00:00:00-04:00'
        ActionDate:
          type: string
          format: date-time
          description: Date and time when the original action or conversion event occurred.
          example: '2021-04-24T19:50:23-04:00'
        Oid:
          type: string
          description: The unique identifier for the order associated with the action, as provided by the brand.
          example: O987654
        SubId1:
          type: string
          description: First partner sub-identifier passed on the tracking link.
          example: Blog
        SubId2:
          type: string
          description: Second partner sub-identifier passed on the tracking link.
          example: Website
        SubId3:
          type: string
          description: Third partner sub-identifier passed on the tracking link.
          example: ''
        PaystubId:
          type: string
          description: Identifier of the paystub the action's payout is associated with, when paid.
          example: '116142'
        ContractId:
          type: string
          description: Identifier of the contract that determined the payout for this action.
          example: S-7751552
        EventTypeId:
          type: string
          description: Unique identifier of the event type that recorded the action.
          example: '10000'
        EventTypeName:
          type: string
          description: Display name of the event type that recorded the action.
          example: Sale
        PayoutLevel:
          type: string
          description: The level at which the payout was calculated (e.g., `ORDER`, `ITEM`).
          example: ORDER
        DefaultPayout:
          type: string
          format: decimal
          description: Default payout amount before any adjustments.
          example: '5.00'
        DefaultPayoutCurrency:
          type: string
          description: Three-letter ISO 4217 currency code for the default payout amount.
          example: USD
        SharedId:
          type: string
          description: Shared identifier passed on the tracking link.
          example: ''
        ActionUri:
          type: string
          description: API resource path to the parent action.
          example: /Mediapartners/<AccountSID>/Actions/1000.1234.56789
        Uri:
          type: string
          description: Unique reference to the action update object in the impact.com API.
          example: /Mediapartners/<AccountSID>/ActionUpdates/1000.1234.56789.10111213
    ActionState:
      type: string
      description: The current state of the action.
      enum:
      - PENDING
      - APPROVED
      - REVERSED
    Action_2:
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier for the action.
          example: 1000.4636.158133
        CampaignId:
          type: integer
          description: Unique identifier for the campaign that the action is associated with.
          example: '1000'
        CampaignName:
          type: string
          description: Display name for the campaign that the action is associated with.
          example: Acme Campaign
        ActionTrackerId:
          type: integer
          description: Unique identifier for the action tracker (event type) that tracked the conversion.
          example: '2240'
        ActionTrackerName:
          type: string
          description: Display name for the action tracker (event type) that tracked the conversion.
          example: Sale
        State:
          $ref: '#/components/schemas/ActionState'
          description: 'The current state of the action:

            - `PENDING`: Awaiting the locking date for automatic approval, or manual review. Modified actions also have this state.

            - `APPROVED`: Approved and will pay out to the partner. No further modifications are possible.

            - `REVERSED`: Reversed and will not pay out to the partner.

            '
        AdId:
          type: integer
          description: Unique identifier for the ad that drove the winning click.
          example: '506720'
        Payout:
          type: string
          format: decimal
          description: Commission amount calculated for the action that will be paid out to the partner.
          example: '0.88'
        Amount:
          type: string
          format: decimal
          description: Revenue amount associated with the action.
          example: '21.99'
        Currency:
          type: string
          description: Three-letter ISO 4217 code representing the currency for the action.
          example: USD
        EventDate:
          type: string
          format: date-time
          description: Date and time when the conversion event occurred.
          example: '2024-09-10T10:42:38-07:00'
        LockingDate:
          type: string
          format: date-time
          description: Date and time when the action will lock and can no longer be modified or reversed.
          example: '2024-09-26T00:00:00-07:00'
        Oid:
          type: string
          description: The unique identifier for the order associated with this conversion, as provided by the brand.
          example: '9217374917472'
        EventCode:
          type: string
          description: For mobile app events, populates with the event code representing the type of event tracked.
          example: ''
        SharedId:
          type: string
          description: The Shared ID value associated with the winning click. A query string parameter you can append to the tracking link to share traffic segments with the brand.
          example: RT-19247423
        SubId1:
          type: string
          description: The first Sub ID value associated with the winning click. A query string parameter you can append to the tracking link that will appear in your reporting.
          example: ''
        SubId2:
          type: string
          description: The second Sub ID value associated with the winning click. A query string parameter you can append to the tracking link that will appear in your reporting.
          example: ''
        SubId3:
          type: string
          description: The third Sub ID value associated with the winning click. A query string parameter you can append to the tracking link that will appear in your reporting.
          example: ''
        DeltaPayout:
          type: string
          format: decimal
          description: The change in payout value between the current action update and the previous one.
          example: '0.88'
        IntendedPayout:
          type: string
          format: decimal
          description: Original payout amount calculated by the template terms before any modifications.
          example: '0.88'
        DeltaAmount:
          type: string
          format: decimal
          description: The change in amount value between the current action update and the previous one.
          example: '21.99'
        IntendedAmount:
          type: string
          format: decimal
          description: Original amount for the action before any modifications.
          example: '21.99'
        ReferringDate:
          type: string
          format: date-time
          description: Date and time when the winning click occurred.
          example: '2024-09-10T09:45:07-07:00'
        CreationDate:
          type: string
          format: date-time
          description: Date and time when the action was created in impact.com.
          example: '2024-09-10T10:51:23-07:00'
        ClearedDate:
          type: string
          format: date-time
          description: Date and time when the action commission cleared your account balance. Returns empty if the action has not cleared yet.
          example: ''
        ReferringType:
          type: string
          description: The attribution method associated with the winning referral.
          enum:
          - CLICK_COOKIE
          - CLICK_FINGERPRINT
          - CALL
          - PROMOCODE
          - ACTION
          - REPORTED_PARTNER_ID
          - IMPRESSION_COOKIE
          - IMPRESSION_FINGERPRINT
          - ACTION_INQUIRY
          example: CLICK_COOKIE
        ReferringDomain:
          type: string
          description: Domain of the site that the winning click occurred on.
          example: ''
        PromoCode:
          type: string
          description: The promotional code applied to the conversion, if one was used.
          example: SUMMERSALE2024
        CustomerArea:
          type: string
          description: The Designated Market Area (DMA) code of the customer's area, derived from IP address.
          example: '855'
        CustomerCity:
          type: string
          description: The city the customer resides in.
          example: Santa Barbara
        CustomerRegion:
          type: string
          description: The region or state the customer resides in.
          example: California
        CustomerCountry:
          type: string
          description: The country the customer resides in.
          example: US
        Uri:
          type: string
          description: Unique reference to the action object in the impact.com API.
          example: /Mediapartners/<AccountSID>/Actions/1000.4636.158133
    Item:
      type: object
      properties:
        Sku:
          type: string
          description: The product identifier or SKU for the item.
          example: '12345'
        ItemName:
          type: string
          description: The product name or description.
          example: Acme Tennis Balls (One Dozen)
        Category:
          type: string
          description: The product category.
          example: Sports
        Quantity:
          type: string
          description: The number of units purchased.
          example: '2'
        SaleAmount:
          type: string
          description: The transaction value or sale amount for the item.
          example: '19.27'
        SaleAmountCurrency:
          type: string
          description: The currency code for the sale amount.
          example: USD
        Payout:
          type: string
          format: decimal
          description: The commission or payout earned for the item.
          example: '0.77'
        PayoutCurrency:
          type: string
          description: The currency code for the payout.
          example: USD
        Rebate:
          type: string
          description: The rebate amount for the item.
          example: '1.00'
        RebateCurrency:
          type: string
          description: The currency code for the rebate.
          example: USD
        AdjustmentDate:
          type: string
          format: date-time
          description: The date and time of any adjustment applied to the item. Returns empty if no adjustment has occurred.
          example: ''
        AdjustmentReason:
          type: string
          description: The reason for any adjustment applied to the item. Returns empty if no adjustment has occurred.
          enum:
          - OVERLIMIT_WEEKDAYCAP
          - OVERLIMIT_WEEKENDCAP
          - OVERLIMIT_BUDGET
          - OVERLIMIT_ACTIONCAP
          - OVERLIMIT_CONCURRENTCALLS
          - OVERLIMIT_UNKNOWN_CALLERID
          - RECALC_COMM
          - MP_RETURN
          - APPROVED
          - REJECTED
          - CONS_INFO_INVALID
          - CONS_ERROR
          - CONS_FRAUD
          - ITEM_RETURNED
          - ITEM_OUT_OF_STOCK
          - ORDER_ERROR
          - PUB_ACT_DISPUTE
          - ADV_ACT_DISPUTE
          - NOT_COMPLIANCE_TERMS
          - MP_ACCOUNT_DEATVIATED
          - CREDITED_DIFFERENT_MP
          - ORDER_UPDATE
          - OTHER
          - TEST_ACTION
          - RESET
          example: ''
        Uri:
          type: string
          description: Unique reference to the action item object in the impact.com API.
          example: /Mediapartners/<AccountSID>/Actions/1000.4636.158133/Items/12345
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your AccountSID as the username and AuthToken as the password.
x-refined-from:
- impact-radius-brand-actions-v14.yml
- impact-radius-partner-actions-v15.yml
